body {
  -webkit-box-shadow: -5px 0px 25px 0 #d1d1d1, 5px 0px 25px 0 #d1d1d1;
          box-shadow: -5px 0px 25px 0 #d1d1d1, 5px 0px 25px 0 #d1d1d1;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}
.social-button,
.main-menu ul,
.about-sedona ul,
.filter-param,
.sorting {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

.visually-hidden,
.checkbox input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.main-menu {
  width: 1200px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
.main-menu a {
  min-width: 128px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.main-menu a:hover,
.main-menu a:focus {
  color: #81b3d2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.main-menu a:active {
  color: #b2b2b2;
}
.menu-current a {
  color: #766357;
} 
.about-sedona h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.about-sedona-header {
  padding: 40px;
}
.article-title {
  margin-top:27px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.main-reason {
  color: #ffffff;
}
.main-reason div:first-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-left: 0;
}
.main-reason p {
  margin-top: 23px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: normal;
}
.img-reason-1 {
  width: 800px;
  background: url(../img/reason-1.png);
  background-repeat: no-repeat;
}
.reason-1-more p {
  padding-left:50px;
  padding-right: 50px;
}
.main-reason h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
section.welcoming {
  width: 1200px;
  background: 
  url("../img/polygon.svg") no-repeat 0% 101%, 
  url("../img/welcoming.jpg") no-repeat 0% -80px
                
  ;
  padding-bottom:100px;
}
.polygon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding-top: 75px;
}
.about-sedona-header {
  text-align: center;
}
article.about-sedona {
  width: 1200px;
  background-color: #ffffff;
}
.secondary-reason div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-left: 72px;
  padding-right: 72px;
}
.more {
  padding-top: 60px;
  width: 400px;
  padding-bottom: 13px;
}
.more h4 {
  margin-top: 22px;
  margin-bottom: 25px;
}

.reason-1-more h4,
.secondary-reason h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.secondary-reason h4 {
  width: 140px;
  margin: 0;
  padding-left:60px;
  padding-bottom: 20px;
}
.reason-3,
.reason-4,
.reason-5 {
  padding-top: 47px;
  padding-bottom: 60px;
}
.secondary-reason p {
  margin:0;
  padding-bottom: 25px;
}

.reason-1-more p,
.secondary-reason p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.index-form-header b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-bottom: 29px;
}
.index-form-header p {
  width: 450px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.index-form-header a {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
  background-color: #766357;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
}

.search-button {
  background: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  width: 458px;
  min-height: 58px;
  padding: 0;
}
.main-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  min-height: 120px;
  padding-left:72px;
  padding-right: 72px;
}


/* Сетка флексбоксы */

.main-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  height: 0px;
  position: relative;
  z-index: 10;
}

.main-menu ul li:nth-child(4n+3) {
  margin-left: 20%;
}

.main-menu li {
  width: 20%;
  text-align: center;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top:18px;
      padding-bottom: 18px;
}

.reason-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
}
.reason-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: url(../img/reason-2.jpg);
  background-repeat: no-repeat;
  background-size: 800px 400px;
  background-position-y: -75px;
}
article.about-sedona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reason-1-more {
  min-height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.secondary-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 256px;
  background-color: #eeeeee;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.index-form-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 291px;
  width: 1200px;
  padding-top: 50px;
}
.index-form-header p {
  margin-bottom: 44px;
  margin-top: 0px;
}
.search-form {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  width: 568px;
  min-height: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding:0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 55px;
  z-index: 10;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* Поиск гостиницы в Седоне SEARCH-FORM */
.date input{
  position: relative;
  z-index: 50;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left:10px;
  width: 384px;
  border: none;
  background: #f2f2f2;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-family:"PT Sans", Arial, sans-serif;
  font-weight: 700;
  right: -17px;
}

.date{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}
.date label {
  width: 122px;
}
.search-form div:nth-child(3) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.adults-number {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adults-number div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.childs-number {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}
.childs-number div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.people-number {
  border: none;
  background: #f2f2f2;
  height: 37px;
  padding: 0;
}
.button-minus {
  width:37px;
  padding-bottom: 7px;
}
.button-plus {
  width:37px;
}
.input-adults,
.input-childs {
  padding-left: 10px;
}

.date svg {
  position: relative;
  right: 15px;
  z-index: 60;
}
.date svg:hover path,
.date svg:focus path,
.date svg:hover rect,
.date svg:focus rect {
  fill: #000;
}
.date svg:active path,
.date svg:active rect {
  fill: #81b3d2;
}
/* Карта */

.map {
  background-image: url(../img/map.jpg);
  width: 1200px;
  min-height: 473px;
  position: relative;
}

.google-sedona {
  position: absolute;
  top: 0;
  z-index: 1;
}
.google-sedona iframe {
  display: block;
  border: none;
}
/* Hotels.html */

/* Фильтр */

.filter form {
  background-color: #81b3d2;
  background-image: url(../img/filter_background.jpg);
  background-position: 0 -300px;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 1200px;
  min-height: 217px;
}

.checkbox {
  position: relative;
}
.checkbox label::after {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/checkbox-off.svg) no-repeat;
}
input:focus + label {
  outline-color: lightskyblue;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/checkbox-on.svg) no-repeat;
}
.checkbox input[type="checkbox"]:checked:disabled + label::after {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/checkbox-on-disabled.svg) no-repeat;
}
.checkbox input[type="checkbox"]:disabled + label::after {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/checkbox-off-disabled.svg) no-repeat;
}

.infrastructure,
.type-of-house {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  min-height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
}

.infrastructure h3,
.type-of-house h3 {  
  position: relative;
  left: -40px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 2px;
}

.filter form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.infrastructure ul,
.type-of-house ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 22px;
}

.price-range button {
  margin-top: 15px;
  margin-left: 90px;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 14px;
  line-height: 21px;
  width: 135px;
  min-height: 34px;
  text-align: center;
  border-radius: 3px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.price-range button:hover {
  margin-left: 90px;
  border: 2px solid white;
  background: white;
  color: black;
  font-size: 14px;
  line-height: 21px;
  width: 133px;
  min-height: 32px;
  text-align: center;
  border-radius: 3px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.price {
  border: none;
  background: none;  
  color:#fff;
  font-size: 14px;
  line-height: 21px;
  width: 159px;
  min-height: 32px;
  text-align: center;
  border-radius: 3px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.type-of-house {
  margin-right: auto;
  margin-left: 80px;
}
.infrastructure {
  margin-left: 72px;
}
.price-range {
  margin-right: 72px;
  padding-bottom: 24px;
}

.price::-webkit-input-placeholder { color:#fff; font-family: "PT Sans", Arial, sans-serif;}
.price::-moz-placeholder { color:#fff; font-family: "PT Sans", Arial, sans-serif;}
.price:-ms-input-placeholder { color:#fff; font-family: "PT Sans", Arial, sans-serif;}
.price:-moz-placeholder { color:#fff; font-family: "PT Sans", Arial, sans-serif;}

.price-conteiner {
  position: relative;
  border: 2px solid white;
  background: none;
  width: 316px;
  min-height: 32px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price-conteiner::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-controls {
  background:  rgba(255, 255, 255, 0.3);
  position: relative;
  margin-top: 36px;
  bottom: 17px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.filter-param h3 {
  padding:0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-bottom:0;
}

.dual-range {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.dual-range:hover {
  border: 9px solid #ffffff;
}

.dual-range.min {
  left: 0;
}

.dual-range.max {
  left: 80%;
}

/* сортировка */

.sorting-found {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  min-height: 86px;
}
.sorting-found b {
  font-size: 21px;
  line-height: 26px;
}
.sorting-found > span:nth-of-type(1) {
  font-size: 12px;
  line-height: 18px;
}

.sorting a{
  color: #b2b2b2;
  min-width: 240px;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted #81b3d2;
}
.sorting li {
  padding-right: 30px;
}
.sorting-arrow a {
  padding: 5px;
}
.sorting-arrow a:hover polygon,
.sorting-arrow a:hover polyline,
.sorting-arrow a:focus polygon,
.sorting-arrow a:focus polyline  {
  fill: black;
}
.sorting-arrow a:active polygon,
.sorting-arrow a:active polyline {
  fill: #81b3d2;
}
.sorting-key:hover,
.sorting-key:focus {
  color: #81b3d2;
  border: none;
}
.sorting-key:active {
  color: #000;
  border: none;
}

.result-number {
  font-size: 21px;
  line-height: 26px;
}

.sorting-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top:31px;
  background-color:#fefefe;
}
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}
.sorting-found >:nth-child(1) {
 width: 135px;
 margin-right: 28px;
}
.sorting-found >:nth-child(2) {
margin-right: 38px;
margin-top:5px;
}
.sorting-found >:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}.sorting-found >:nth-child(4) {
}

/* Карточка гостиницы */
.hotel-card {
  background-color:#fefefe;
  border-top: 1px solid #e5e5e5;
  padding-top: 0px;
  padding-bottom: 0px;
}
.list-hotels-found > :nth-last-child(1) {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-detail-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  width: 110px;
  min-height: 27px;
  padding-left: 3px;
  display: block;
  margin-right: 6px;
  text-align: center;  
}
.hotels-detail-button:hover,
.search-button:hover {
  background-color: #669ec0;
}
.hotels-detail-button:active,
.search-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}
.hotels-order-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  width: 142px;
  min-height: 27px;
  padding-left: 3px;
  display: block;
  text-align: center;
}
.hotels-order-button:hover,
.form-title:hover {
  background-color: #604e43;
}
.hotels-order-button:active,
.form-title:active {
  color: #857871;
  background-color: #503e33;
}
.about-hotel > a{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.about-hotel > a:hover{
  color: #81b3d2;
}
.about-hotel > a:active {
  color: #b2b2b2;
}
.rating-stars2 {
  width: 110px;
  height: 27px;
  background:
    url(../img/star.svg) no-repeat 75%,
    url(../img/star.svg) no-repeat 100%;
}
.rating-stars4 {
  width: 110px;
  height: 27px;
  background:
    url(../img/star.svg) 25% no-repeat,
    url(../img/star.svg) 50% no-repeat,
    url(../img/star.svg) 75% no-repeat,
    url(../img/star.svg) 100% no-repeat;
}
.rating-stars3 {
  width: 110px;
  height: 27px;
  background:
    url(../img/star.svg) 50% no-repeat,
    url(../img/star.svg) 75% no-repeat,
    url(../img/star.svg) 100% no-repeat;
}

/* Сетка hotels.html*/

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.hotel-card > a:first-child {
  margin-left: 72px;
  margin-right: 30px;
  margin-top: 5px;
}

.rating div {
  position: absolute;
  right: 73px;
  top: 24px;
}
.rating p {
  position: absolute;
  right: 70px;
  bottom: 18px;
  background-color :#f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
  padding-left:15px;
  padding-right:15px;
  padding-top:2px;
  padding-bottom:2px;
}

.about-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 370px;
  min-height: 132px;
  padding-bottom: 0px;
  padding-top: 35px;
}
.about-hotel p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
div.about-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-hotel>div:nth-of-type(1){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top:10px;
  padding-bottom:11px;
  min-width: 260px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.min-price {
  padding-right: 75px;
}

.about-hotel div:last-child {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* всплывающая форма  */

 .search-form {
  visibility: hidden;
}
.search-form-show {
  visibility: visible;
}

/* Футер */
.main-footer > b:first-child {
  font-size: 21px;
  line-height: 26px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
}
.main-footer {
  background-color:#fefefe;
  padding-top:10px;
}
.index-footer {
  position: relative;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Социальные кнопки */

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 170px;
  max-width: 625px;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-button a:active path {
  fill: #88b6d1;
}

.social-button {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #81b3d2;
  margin: 3px;
}
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;         
}
.footer-copyright b {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 8px;
  font-weight: 400;
}
.html-academy path,
.html-academy rect {
  fill: #231f20;
}

a.html-academy:hover path,
a.html-academy:hover rect,
a.html-academy:focus path,
a.html-academy:focus rect {
  fill: #81b3d2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a.html-academy:active path,
a.html-academy:active rect {
  fill: #bdbbbc;
}

/* Анимация */
.secondary-reason {
  position: relative;
  z-index: 20;
}

.index-form-header {
  position: relative;
  background-color: #f2f2f2;
  z-index: 20;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.search-form-show {  
  -webkit-animation: bounce 0.6s;  
          animation: bounce 0.6s;
}


@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}


@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.search-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}