
  body {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

body.index {
  box-shadow: -5px 3px 5px 0 #c0c1c4, 5px 3px 5px 0 #c0c1c4;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
  
a {
  text-decoration: none;
  color: #000000;
}
.social-button,
.main-menu ul,
.about-sedona ul,
.filter-param,
.sorting {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.main-menu {
  width: 1200px;
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
.main-menu a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-menu a:hover,
.main-menu a:focus {
  color: #81b3d2;
}
.main-menu a:active {
  color:#b2b2b2;
}
.menu-current a{
  color: #766357;
}
.about-sedona h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.article-title {
  font-size: 44x;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  background-color: #ffffff;
}
.main-reason {
  color:#ffffff;
}
.main-reason div {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  vertical-align: top;
  margin-left: 0;
}
.main-reason p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: normal;
}
.main-reason h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
.reason-1 img {
}
section.welcoming { 
  width: 1200px;
  min-height: 508px;
  background: url("../img/welcoming.jpg") 0% -80px ;
}
.polygon {
  width: 1200px;
  min-height: 508px;
   background: url("../img/polygon.svg") no-repeat 0% 100%;
}
.welcoming img {
  margin-left: 33%;
  margin-top: 76px;
}
.about-sedona-header {
  text-align: center;
}
article.about-sedona { 
  width: 1200px;
  background-color: #ffffff;
}
.date {
  width: 346px;
}
.rating-stars {
  width: 110px;
  height: 27px;
  background: url(../img/star.svg) no-repeat 5px,
    url(../img/star.svg) 25px no-repeat;
}
.social-button {
  background: #81b3d2;
  width: 46px;
  height: 48px;
  float: left;
  margin: 6px;
}
.social-icon {
  padding: 15px 15px;
}
.secondary-reason div {
  width: 400px;
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
}
.reason-1-more h4, .secondary-reason h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.reason-1-more p, .secondary-reason p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.index-form-header b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.index-form-header p {
  width:400px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.index-form-header a {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
  background-color: #766357;
  padding:0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
  
}
.map {
  background-image: url(../img/map.jpg);
  width: 1200px;
  min-height: 473px;
}
.search-button {
  background: #81b3d2;
  color:#ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  width: 458px;
  min-height: 58px; 
}
.main-footer {
  width: 1200px;
  min-height: 120px;
}



/* Сетка флексбоксы */


 .main-header-logo {
  /* position: absolute;  */
  display: flex;   
  justify-content: center;
  width:1200px;
  height: 0px;
}

.main-menu ul li:nth-child(2) {
  margin-right: 250px;
}


.main-menu ul {
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center ;
}

.reason-1 {
  display: flex;
  width: 1200px;
}
.reason-2 {
  display: flex;
  width: 1200px;
  flex-direction: row-reverse;
}
article.about-sedona {
  display: flex;
  flex-direction: column;
}
.reason-1-more {
  min-height: 330px;
  display: flex;
  text-align: center;
  align-items: center;
}
.secondary-reason {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 256px;
  background-color: #eeeeee;
}

div.index-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 286px;
  width: 1200px;
  padding-top: 55px;
}

.search-form {
  background-color: #ffffff;
  margin: auto;
  width: 568px;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  box-sizing: border-box;
}
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Hotels.html */

/* Фильтр */

.filter form {
  background-color:#81b3d2;
  background-image: url(../img/filter_background.jpg);
  background-position: 0 -300px;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 1200px;
  min-height: 217px;
}
.sorting-found {
  width: 1200px;
  min-height: 100px;
}
.sorting-found b {
  font-size: 21px;
  line-height: 26px;
}
.sorting {
  width: 240px;
  font-size: 12px;
  line-height: 18px;
}

.checkbox input:focus {
  outline: 1px solid orangered;
}

/* Карточка гостиницы */
.hotel-card {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 18px;
  padding-bottom: 17px
}

.hotels-detail-button {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  width: 100px;
  min-height: 27px;
  padding-left: 17px;

}
.hotels-detail-button:hover {
  background-color: #669ec0;
}
.hotels-detail-button:active { 
  color: #88b6d1;
  background-color: #5496bd;
}
.hotels-order-button {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  width: 125px;
  min-height: 27px;
  padding-left: 17px;
}
.hotels-order-button:hover 
.search-button:hover {
  background-color: #604e43;
}
.hotels-order-button:active, 
.search-button:active { 
  color: #857871;
  background-color: #503e33;
}
.about-hotel:hover h3 {
  color:#81b3d2;
}
.about-hotel:active h3 {
  color:#b2b2b2;
}
/* Сетка hotels.html*/
.filter form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.type-of-house {
   margin-right: 150px;
}

.sorting-found {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sorting {
  display: flex;
  justify-content: space-between;
}

.hotel-card {
  display: flex;
  align-items: center;
}
.hotel-card > a:first-child {
  margin-left: 72px;
  margin-right: 30px;
}
.hotel-card div:nth-child(2) {
  margin-right: 300px;
}

.about-hotel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 370px;
  min-height: 55px;
}

.about-hotel div {
  width: 370px;
  display: flex;
  justify-content: flex-start;
}

.about-hotel div:nth-child(2) {

 
}
.about-hotel div:last-child {
  margin:0;
  padding: 0;

  display: block;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  text-align: left;
  /* margin-left: -72px; */

}

/* всплывающая форма тест */

.search-form {
  visibility: hidden;
}

.map:hover .search-form {
  visibility: visible;
}