body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: #000000;
}
.social-button,
.main-menu ul,
.about-sedona ul,
.filter-param,
.sorting {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-menu {
  width: 1200px;
  margin: auto;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
.main-menu a:hover,
.main-menu a:focus {
  color: #81b3d2;
}
.main-menu a:active {
  color:#b2b2b2;
}
.menu-current a{
  color: #766357;
}
.about-sedona h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.article-title {
  font-size: 44x;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  background-color: #ffffff;
}
.main-reason {
  color:#ffffff;
}
.main-reason div {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
}
.main-reason p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: normal;
}
.main-reason h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
.reason-1 img {
}
section.welcoming {
  border: 1px solid;
  width: 1200px;
  background-image: url("../img/welcoming.jpg");
}
.date {
  width: 346px;
}
.rating-stars {
  width: 110px;
  height: 27px;
  background: url(../img/star.svg) no-repeat 5px,
    url(../img/star.svg) 25px no-repeat;
}
.social-button {
  background: #81b3d2;
  width: 46px;
  height: 48px;
  float: left;
  margin: 10px;
}
.social-icon {
  padding: 15px 15px;
}

.main-header-logo {
  margin: auto;
}
/* .show-form{
    position:absolute;
    background:rgba(255,255,255, 0.7);
    padding:25px;
    display:none;
    z-index: 1;
    }
    .map {

    z-index: 2;
    }
        .search-form{
    position:relative;   
    width:568px;
    height:400px;
    border: 1px solid black;
    margin:100px auto;
    float: left;

    }
        .search-form:hover.show-form {
        display: block;
    } 
    .form-title {
    color: white;
  background: brown;
  font-size:22px;
  width:568px;
} */
